{% load static %}

{% for blog in blogs %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a href="{%url 'room' slot.id %}" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="{% static 'images/profile.png' %}" />
      </div>
      <span>@{{blog.user}}</span>
    </a>
    <div class="roomListRoom__actions">
      <span>{{blog.updated|timesince}} ago</span>
    </div>
  </div>
  <div class="roomListRoom__content">
    <p>
      {{blog.body}}
    </p>
  </div>
  <div class="roomListRoom__meta">
    <!-- potential for comnmenting/liking -->
  </div>
</div>
{% endfor %}