{% load static %}


{% for blog in blogs %}
<div class="activities__box">
  <div class="activities__boxHeader roomListRoom__header">
    <a href="profile.html" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="{% static 'images/profile.png' %}" />
      </div>
      <p>
        @{{blog.user}}
        <span>{{blog.updated|timesince}} ago</span>
      </p>
    </a>
    <div class="roomListRoom__actions">
      <a href="#">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
          <title>remove</title>
          <path
            d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
          ></path>
        </svg>
      </a>
    </div>
  </div>

  <div class="activities__boxContent">
    <p><a href="{% url 'room' blog.slot.id %}">{{blog.slot}}</a></p>
    <div class="activities__boxRoomContent">
      {{blog}}
    </div>
  </div>
</div>
{% endfor %}