

{% for slot in slots %}
<div class="roomListRoom">
  <div class="roomListRoom__header">
    <a href="{%url 'room' slot.id %}" class="roomListRoom__author">
      <div class="avatar avatar--small">
        <img src="https://randomuser.me/api/portraits/women/11.jpg" />
      </div>
      <span>@{{slot.host}}</span>
    </a>
    <div class="roomListRoom__actions">
      <span>{{slot.created|timesince}} ago</span>
    </div>
  </div>
  <div class="roomListRoom__content">
    <a href="{%url 'room' slot.id %}">{{slot.title}}</a>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur ducimus harum dolorem, obcaecati
      mollitia omnis quasi aut consequuntur enim itaque labore.
    </p>
  </div>
  <div class="roomListRoom__meta">
    <p class="roomListRoom__topic">Fiction</p>
  </div>
</div>
{% endfor %}