{% extends 'main.html' %}

{% block content %}


<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">
    <div>
        <h3>Year</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        <div>
            {% for year in years %}
            <div>
                <a href="{% url 'home' %}?q={{year}}">{{year}}</a>
            </div>
            {% endfor %}
        </div>

    </div>

    <div>
        <h3>Book Log</h3>
            <a href="{% url 'select-book' %}">Add Book</a>
            <hr>
            {% for slot in slots %}
            <div>
                <small>@{{slot.host}}</small>
                {% if request.user == slot.host %}
                <a href="{% url 'delete' slot.id %}">delete</a>
                {% endif %}
                <a href="{%url 'room' slot.id %}">{{slot.title}}</a>
                <small>{{slot.description}}</small>
                <hr>
            </div>
            {% endfor %}

    </div>

</div>


{% endblock content %}