{% extends 'main.html' %}


{% block content %}  

<style>
    .blog-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="blog-container">
    <div>
        <h3>Details</h3>
        <p>{{slot.book}}</p>
        <hr>
        <p>Form created on {{slot.created}}</p>
        <hr>
        <small>Posted by: {{slot.host}}</small>
        <hr>

    </div>
    <div>
        <h3>Blog Log!</h3>

        {% for blog in blogs %}
        <a href="{% url 'edit-blog' blog.id %}">Edit</a> <a>Remove</a>
        <p>{{blog.user}} - {{blog.updated}}</p>    
        <p>{{blog.body}}</p>
        <hr>
        {% endfor %}  

        <div class="entry-container">
            <a href="{% url 'add-blog' slot.id %}">Add Entry</a>
        </div>

    </div>
</div>



{% endblock content %}  